<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Militar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/select2/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Medicamentos de alto costo</h1>
        <div class="row">
            <!-- On small screens fills the full grid, on medium+ ones only half -->
            <div class="col-xs-12 col-md-6">
                <h2>Pacientes atentidos por año</h2>
                <div class="barChart" id="cardYears"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Pacientes atentidos por mes</h2>
                <div class="barChart" id="cardMonth"></div>
            </div>
        </div>
        <div class="row">
            <!-- On small screens fills the full grid, on medium+ ones only half -->
            <div class="col-xs-12 col-md-6">
                <h2>Pacientes atendidos por genero</h2>
                <div class="barChart" id="cardGenders"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Pacientes atendidos por grupo etario</h2>
                <div class="barChart" id="cardAge"></div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Condiciones de busqueda y agrupamiento</h1>
          <!--label>Hierarchy <input id="inHierarchy" value="Categoria_Medicamento" class="form-control"
          /></label-->
            <label>Campos a agrupar</label>
            <select id="inHierarchy" class="colSelect w-100" name="apps" multiple="multiple" >
               <option value="Anio_Prescripcion">Año Prescripción</option>
                <option value="Categoria_Medicamento" selected>Categoria Medicamento</option>
                <option value="Cod_Diagnostico">Código Diagnostico</option>
                <option value="Codigo_Cedicamento">Código Medicmanto</option>
                <option value="Codigo_Laboratorio">Código Laboratorio</option>
                <option value="Numero_Documento">Documento Paciente</option>
                <option value="Fuerza">Fuerza</option>
                <option value="Medicamento">Medicamento</option>
                <option value="Nombre_Medico">Medico</option>
                <option value="Mes_Prescripcion">Mes Prescripción</option>
                <option value="Nombre_Diag">Nombre Diagnostico</option>
                <option value="Nombre_Paciente">Paciente</option>
                <option value="Sexo">Sexo</option>
                <option value="Tipo_Consulta">Tipo Consulta</option>
                <option value="Tipo_Ing">Tipo Ingreso</option>
                </select>
          <button id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
          </div>
        <br><br>
          <div class="row">

        <div class="col-12" id="chart"></div>
      </div>
    </div>
    <br><br><br>
    <!-- Container-->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script src="/static/select2/js/select2.min.js"></script>
    <script src="/static/js/timeSeriesChart.js"></script>
    <script src="/static/js/barChart.js"></script>
    <script src="/static/js/myTreemap.js"></script>
    <script src="/static/js/main.js"></script>
    <script async>
    $(document).ready(function() {
    $('#inHierarchy').select2();
  });
</script>


</body>
</html>