<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Militar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/css/style-calendar.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Hospital Militar</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <span class="p-2 text-dark">Monitoreo de Medicamentos de Alto Costo</span>
    </nav>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-12 shadow-sm">
            <div class="card-header">
                <h5 id="username" class="my-0 font-weight-normal"></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"><strong>SEXO: </strong><span id="user_sex"></span></div>
                    <div class="col-md-3"><strong>EDAD: </strong><span id="user_years"></span></div>
                    <div class="col-md-3"><strong>FUERZA: </strong><span id="user_force"></span></div>
                    <div class="col-md-3"><strong>COSTO TOTAL: </strong><span id="user_total"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-12 shadow-sm">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Prescripción Individual de Medicamentos de Alto Costo </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 calender-map"></div>
                    <div class="col-md-12 calender-map-legend"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-12 shadow-sm">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">Personal quien prescribió los Medicamentos </h5>
            </div>
            <div class="card-body">
                <table id="table_id" class="display">
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre del Médico</th>
                        <th>Servicio</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Container-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/js/d3-setup.js"></script>
<script src="/static/js/calendermap.js"></script>
<script>
    $(document).ready(function () {

        $.get('/personal-data-info', function (data) {
            user_info = data[0];
            $('#username').html('Paciente: ' + user_info[0])
            $('#user_sex').html(user_info[4])
            $('#user_force').html(user_info[3])
            $('#user_years').html(user_info[1])
            $('#user_total').html(formatValue(user_info[2]))
        });

        $('#table_id').DataTable({
            ajax: {
                url: '/personal-datatable',
                dataSrc: function (json) {
                    return json;
                }
            },
            destroy: true,
            scrollCollapse: true,
            iDisplayLength: 10,
            deferRender: true,
            language: {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                "sInfo":           "Mostrando registros del _START_ al _END_ de  _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
}
        });
    });
</script>

</body>
</html>